[defaults]
inventory = inventory.ini
roles_path = ./
stdout_callback = default
display_skipped_hosts = false
deprecation_warnings = false
interpreter_python = /usr/bin/python3

[privilege_escalation]
become = true
become_method = sudo